@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

body {
  background-color: #020617;
  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(to right, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 48px 48px;
}
